#quote{
  background-color: #01BEFE;
  padding: 15px 35px 55px 35px;
  margin: 30vh 20vw;
  font-family: "Poppins";
  filter: drop-shadow(3px 3px 4px rgba(0,0,0,.5));
  border-radius: 10px;
}

#qtext{
  color: #313131;
  margin-bottom: 20px;
}

body{
  background: url(assets/mountainbkgd.jpg);
  background-position: center;
  background-size: cover;
}

button{
  float: right;
  padding: 10px 50px;
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 18px;
  background-color:  #ffd768;
  color: #313131;
  border-radius: 10px;
  border: none;
}

button:hover{
  border: 2px white solid;
}

button:active{
  background-color: #f4bc14;
}

#buttonMore{
  margin: 10px 20vw;
  text-align: center
}

#flex{
  display: flex;
  width: auto;
  margin: 10px 20vw;
}

.flexitem{
  flex-grow: 1;
  margin-left: 10px;
}

.social{
  width: 7vw;
  min-width: 10px;
  margin:auto;
  display:block
}
