body{
  padding: 0px;
  margin: 0;
}
h1{
  font-size: 45px;
  font-weight: 900;
}
h2{
  font-size: 25px;
  font-weight: 1000;
}
ul{
  font-weight: bold;
  font-size: 16px;
}
p{
  font-weight: bold;
  font-size: 16px;
}
.background{
  background-color: #A2A4A3;
}
#button{
  background-color: #CFB87C;
}
#buttonTop{
  background-color: #CFB87C;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
#buttonEnd{
  background-color: #CFB87C;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
#hero{
  width:100vw;
  height:650px;
  margin:0px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}
#dashed{
  border:dashed #CFB87C 2px;
}
#dashed1{
  border:dashed #CFB87C 2px;
}
#one, #pagetoptext, #footer{
  font-family: 'Roboto', sans-serif;
  margin-left: 4vw;
  margin-top: 5vh;
  padding-right: 3vw;
}
